@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --Black: #000000;
    --Catalina: #06327d;
    --Bluetiful: #2b70e4;
    --Vegan: #209d5c;
    --Sunglow: #ffd034;
    --White: #ffffff;
    --Light-Blue: #cadbf8;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    color: var(--Black);
    background-color: var(--Catalina);
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--White);
    text-align: center;
    border-bottom: 5px solid var(--Sunglow);
    border-top: 5px solid var(--Sunglow);
}

header {
    color: var(--White);
    text-transform: uppercase;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1667;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1667;
    text-transform: uppercase;
}

h3 {
    font-size: 1.75rem;
    line-height: 1.1667;
    font-weight: 300;
}
nav{
    padding-top: 4px
}

nav a {
    text-decoration: none;
    color: var(--White);
    font-weight: 300;
    padding: 4px;
    border-radius: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
}

.card1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    
}

.content h1 {
    margin-bottom: 1rem;
}

.content p {
    margin-bottom: 1rem;
}

.coffee-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
}

/* card  styles */
.coffee-card img {
    max-width: 100%;
    border-radius: 5px;
}

.bg-light {
    background-color: var(--Light-Blue);
}

/* logo container */
.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0;
}

.button {
    display: inline-block;
    background-color: var(--Bluetiful);
    color: var(--White);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 300;
    text-decoration: none;
    margin-top: 0.5rem;
}

.button-alt {
    display: inline-block;
    background-color: var(--Vegan);
    color: var(--White);
    padding: 0.6rem 1rem;
    border-radius: 5px;
    font-weight: 300;
    text-decoration: none;
    margin-top: 0.5rem;
}

/* FOOTER  */
footer {
    background-color: var(--Catalina);
    color: var(--White);
    text-align: center;
    padding: 1rem;
}

footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

footer p {
    color: var(--White);
    font-size: 1rem;
    margin: 0;
}

/*Desktop */
@media (min-width: 1000px) {
    .card1 {
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        
    }
    .content{
        text-align: left;
    }

    .coffee-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    header {
        jistify-content: space-between;
    }
}

/*TABLET VIEW: 650px - 999px */
@media (min-width: 650px) and (max-width: 999px) {
    .card1 {
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    ;
    }
    }

    .coffee-grid {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .content {
        text-align: left;
    }
}

/*MOBILE VIEW: below 650px */
@media screen and (max-width: 649px) {
    .card1 {
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding: 1rem;
    }

    .content {
        margin-top: 1rem;
        text-align: left;
    }

    .coffee-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}